<!DOCTYPE html>
<html>
<head>
	<title>Welcome to my website!</title>
</head>
<body>
	<p>
	this page is largely still under construction, but since I have been sending out a lot of applications and refrencing it; I figured I should throw something togeather really quick.
	</p>
	<p>Below is the location of all of the pitches thrown to David Ortiz over the course of the 2016 season that he did not swing at. Strikes are marked in red and balls are marked in blue.
	</p>
	<img src= "{{ url_for('static', filename = 'images/david_ortiz_called_pitches.png')}}">
	<p> As you can see, teams tend to pitch him away. Also the umpires tend to be more lenient with their strike calls on the outside part of the plate (David Ortiz is a lefty) so he would be standing on the right side of the image as it is from the perspective of behind home plate </p>

	<br>

	<p>
	Over the coming days I plan to make this much more interactive, first up is allowing you to filter for the hitter. Other thoughts might be to use tableau display the data in a much more interactive way, but my dataset is far too large to work with the public version of tableau. It would aslo be worth while to add some syling so this page doesn't look so bland.
	</p>


	
</body>
</html>
