{# <link rel="stylesheet" type="text/css" href="canvas.css"/>
<script src = 'canvas select.js'></script>#}
<body>
<div id = "container" class = "container">
  <div style="position: relative;">
	 <canvas id="layer1" width="400" height="575" ></canvas>
	 <canvas id="my_canvas" width="400" height="575" ></canvas>

</div>
  <h2 id = "status"> stuff </h2>

</div>

<img id ='image' src="{{url_for('static', filename = 'images/test Invoice.png')}}">

<input type = 'button' onclick = 'crop()' value = "crop crop crop">
<div id = 'crop'>
</div>